/** @format */

h3,
p {
  margin: 0;
}

.App {
  text-align: center;
}

.gallery {
  text-align: justify;
  display: flex;
  /* gap: 1rem; */
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-container {
  width: 320px;
  margin: 0 0.5rem;
  height: min-content;
}

.movie-poster {
  height: 540px;
  width: 320px;
  object-fit: cover;
  padding: 0.25rem 0 0 0;
}

.movie-specs {
  display: flex;
  justify-content: space-between;
  padding: 0px 0.25rem;
}

.movie-rating {
  font-size: 1.2rem;
  padding-top: 0.25rem;
}

.movie-content {
  /* background: linear-gradient(to bottom, white #999999); */
  position: relative;
  top: -0.25rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* place-items: center; */
  gap: 1rem;
  padding: 3rem 5rem 1rem;
  max-width: 50%;
  margin: 0 auto;
}

.align-button {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  padding-bottom: 0.5rem;
}

.like-dislike-container {
  display: grid;
  place-items: center;
}

.like-dislike > button {
  font-size: 1.25rem;
}

.css-46bh2p-MuiCardContent-root {
  padding: 0px 0.5rem !important;
}
